DATABASE_URL="postgresql://postgres:postgres@localhost:5432/antrean_kota"
PORT=3000

JWT_ACCESS_SECRET="ganti-dengan-secret-acak"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="ganti-dengan-secret-acak-lain"
JWT_REFRESH_EXPIRES_IN="7d"
